<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WsTalk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ static_url('bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ static_url('bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">

    <style>
      .msgbox { border:1px solid #ccc; height: 400px; overflow-y: auto;}
      .vbox { border:1px solid #ccc; height: 400px;}
      .lbox { border:1px solid #ccc; height: 400px;}
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="{{ static_url('js/jquery-1.7.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/knockout-2.2.1.debug.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('bootstrap/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/md5.js') }}"></script>

    <script type="text/javascript" src="{{ static_url('adapter.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('wstalk.js') }}"></script>
  </head>

  <body>
    <div class="container">
      <div id="rootview"  class="span10 offset1">
        <div data-bind="with: views.loginview, visible: views.loginview.show">
            <input type="text" placeholder="user" data-bind="value: uid"/>
            <input type="password" placeholder="password" data-bind="value: pswd"/>
            <button class="btn btn-primary" data-bind="click: login">Login</button>
        </div>

        <div data-bind="with: views.logoutview, visible: views.logoutview.show">
            <span data-bind="text: uid"></span>
            <button class="btn btn-primary" data-bind="click: logout">Logout</button>
        </div>

        <div data-bind="with: views.callview, visible: views.callview.show">
            <span data-bind="visible: state()=='idle'">
                <input type="text" placeholder="callee" data-bind="value: peerid"/>
                <span>Video:</span><input type="checkbox" data-bind="checked: video" />
            </span>
            <span data-bind="visible: state()=='incoming'">
                <span data-bind="text: incalltext"></span>
            </span>
            <button class="btn btn-primary" data-bind="click: call, text: cctext"></button>
            <div data-bind="visible: video">
                <video id="remoteVideo" autoplay height="400"></video>
                <video id='localVideo' autoplay height="200"></video>
            </div>
        </div>

        <div data-bind="with: views.logs">
            <table>
          <tbody data-bind="foreach:logs">
              <tr  style="border-top:solid 1px">
                  <td data-bind="text:$data"></td></tr>
          </tbody>
            </table>
            <button class="btn btn-primary" data-bind="click: show_log">show log</button>
            <button class="btn btn-primary" data-bind="click: clear_log">clear log</button>
        </div>
      </div>
    </div> <!-- /container -->
  </body>
  <script>
      function get_ws_uri() {
          return "{{ ws_uri }}";
      }
      function get_realm() {
          return "{{ realm }}";
      }
  </script>
</html>
